@charset "utf-8";
/* CSS Document */
body {
	background-color:#E7FAFF;
}
h1 {
	text-align: center;
	color:#282572;
}
a {
	text-decoration: none;
	color:#64A8CD;
}
p {font-family: "Times New Roman", Times, serif;
	text-align: left;
	line-height: 1.8;
}
#firstp {color: lightsteelblue;
	color: dodgerblue;
	
}
#secp {color: lightsteelblue;
	color: darkcyan;
}
.blue{
	color: darkblue;
}
.red{
	color:maroon
}